body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #35424a;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

main {
    padding: 20px;
}

h1, h2 {
    color: #35424a;
}

p {
    line-height: 1.6;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #35424a;
    color: #ffffff;
    position: relative;
    bottom: 0;
    width: 100%;
}
h1 {
    transition: color 0.5s;
}
h1:hover {
    color: #ff6347; /* تغيير اللون عند التمرير */
}